* {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

heading {
    
}

.check-button{
 border-radius: 30%;
}

.profile-logo{

}

#profile-image {
    
    border-radius: 50%;
    width: 35px;
    margin-bottom: -30px
    
  
 
}

#second-title{
    background-color: #EDF7F6;
    border: 2px solid gray
    
}

select {
    background-color: #EDF7F6;
}

#custom-input{
    background-color: #EDF7F6;
}

input, #text{
    background-color: #EDF7F6;
}

button {
    background-color: chocolate;
    color: black;
    border-radius: 8px;
    border: 1px solid whitesmoke
    
}

.header-container{
    display: flex;
    gap: 12px;
   
}

.form-body{
    border: solid black 1px;
    background: linear-gradient(
        rgb(49, 157, 49)80%,
        white,
        silver
    );
    padding: 25px;
    margin: 30px;
    width: 80%
}